*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
background: hsl(233, 47%, 7%);
width: 100%;
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
/* font-family:'Big Shoulders Display', cursive; */
/* font-family:'Inter', sans-serif;  */
font-family:'Montserrat', 
}

.all-product{
  display: flex;
  
}

.left-prod{
  width: 18rem;
  padding: 1.5rem 1.5rem;
  background:hsl(244, 38%, 16%) ;
  
  }

  .Stats{
    display: flex;
    margin-top: 2rem;
    color: hsl(0, 0%, 100%);
  }

  .stats-head{
    color: hsla(0, 0%, 100%, 0.6);
    font-size: xx-small;
    
    
    
  }

  
  .left-prod h3{
color: hsl(0, 0%, 100%);
margin-bottom: 1rem;
 }

  .insights{
    color: hsl(277, 64%, 61%);
  }

  .left-prod .main-paragraph{
    color: hsla(0, 0%, 100%, 0.75);
    
  }


.prod-img{
  background-image: url(images/image-header-desktop.jpg); 
  /* border: 1px solid red; */
  width: 16rem;
  background-size: cover;
  background-position: center;
}

@media screen and (max-width:768px) {
  /* .all-product{
    background-image:url(images/image-header-mobile.jpg) ;
    width: 100%;
    background-position: center;
    background-size: cover;
} */

.all-product{
  flex-direction: column
}
}
  
.prod-img{
  background-image: url(images/image-header-mobile.jpg);
}



